@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear;
  }
}

.app-logo{
  font-family: 'Gasoek One', sans-serif;
  color: rgb(20, 187, 131);
}
.main-logo{
  font-size: 70px;
}

.sidebar-logo {
  font-size: 50px;
}

.nav-bar-logo {
  font-size: 25px;
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
.weather-sidebar{
  height: 85vh;
  position:sticky;
  top:0;

}

.close-icon {
  position: relative;
  right: 25px;
  top: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.show-city-main {
  background-color: #282c34;
  color:rgb(20, 187, 131)
}

.ciudad {
  font-size: 20px;
}
.temperatura-big {
  font-size: 30px;
}
      .subtitulo-temperatura {
  font-size: 12px;
}

body {
  background-color: #282c34;

}